<div class="privatemessage <%= (message.sender==current_user) ? "bg-info" : "bg-success" %>">
	<strong>From:</strong> <%= message.sender.username %><br>
	<strong>Sent:</strong> <%= message.created_at %><br>
	<strong>Title:</strong> <%= message.title %><br>
	<strong>Message:</strong> <%= message.message %><br>
	
</div>