<h1 id='msgpage'>Conversation with <%= @other_person.username %></h1>

<%#= render partial: 'message', object: @message, :locals => {:to => @message.sender_id} %>
<button class="btn btn-info" id='replybut'>Reply</button>
<div class="reply panel panel-info">
 <div class="panel-heading">
    <h3 class="panel-title">Reply</h3>
  </div>
  <div class="panel-body">
    <%= render partial: 'form', :locals => {:to => @message.sender_id} %>
  </div>

</div>
<div class="conversation">



<% @conversation.each do |chatmessage| %>	
<%= render partial: 'message', object: chatmessage, :locals => {:reply => false} %>
<% end %>

</div>

<script>
// TERRIBLE code but this is 9:30 on thursday so don't have a lot of time
var firstid = <%= current_user.messages.order(created_at: :DESC)[0].id %>;

window.setInterval(function(){
  jsondata = $.get( "<%= @message.id %>/edit.json", function( data ) {
    console.log(data.id);
    if (firstid != data.id) {
      window.location.reload(1);
    };
    });
 }, 2000);
 
</script>