<%= form_for(@person) do |f| %>
  <% if @person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% @person.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :firstname %><br>
    <%= f.text_field :firstname %>
  </div>
  <div class="field">
    <%= f.label :middlenames %><br>
    <%= f.text_field :middlenames %>
  </div>
  <div class="field">
    <%= f.label :lastname %><br>
    <%= f.text_field :lastname %>
  </div>
  <div class="field">
    <%= f.label :dob %><br>
    <%= f.date_field :dob %>
  </div>
  <input type="checkbox" value="died" id="diedcheckbox"> Died </input>
  <div class="field" id='diedfield'>
    <%= f.label :died %><br>
    <%= f.date_field :died %>
  </div>
  <div class="field">
    <%= f.label :charity_id %><br>
    <%= f.number_field :charity_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
