<h1>Editing Person</h1>

Note: personal details can only be edited by site owner. If you feel something should be changed, please consult the FAQ or contact.
<%= form_for(@person) do |f| %>
  <input type="checkbox" value="died" id="diedcheckbox">Date of death known</input>
  <div class="field" id='diedfield'>
    <%= f.label :died %><br>
    <%= f.date_field :died %>
  </div>
  <div class="field">
    <%= f.label :charity_id %><br>
    <%= f.collection_select :charity_id, Charity.all.order(:name),:id,:name, :selected => params['charity_id'] %>
  </div>
  <div class="actions">
    <%= f.submit "Change", class: "btn btn-primary" %>
  </div>
<% end %>
	<br>

	Administrators:
	<table class="table" id='adminlist'>
		<tr>
			<th>Username</th>
			<th>Options</th>
		</tr> 
		<tbody>
		<% @person.adminstrators.each do |admin| %>
			<tr id='adminrow_<%= admin.id %>'>
				<td><%= admin.username %></td>
				<td><%= link_to("Remove", remove_administrator_person_path(admin: admin.id), class: "btn btn-danger", method: :delete, remote: true) %></td>
			</tr>
		<% end %>
		
			<tr id='adminrow_last'>
				<td>Select a new administrator
 				<%#= form_tag user_path, :method => :get, :id => 'usersearchform', :remote => true do %>
 				<%#= form_tag search_users_path, method => :get, :id => 'usersearchform', :remote => true do %>
 				<%= form_tag("/search/user.json", method: "get", :id => 'usersearchform', :remote => true) do %>
				<%= text_field_tag :q, params[:search], :id => 'adminusername', :placeholder => "Enter Username" %>
				<% end %>
        <script>var itemid = <%= @person.id %>;
        var controllername = "people";
        var itemtype = "person";</script>
				</td>
				<td></td>
			</tr></tbody><tbody id="adminsuggestions">
</tbody>
	</table>



	<table id='editmemstable' class="table table-striped">
		<tr>
			<th>Memory Id</th>
			<th>Title</th>
			<th>Story</th>
			<th>Ranking</th>
			<th>Remove</th>
		</tr>
	<% @person.memories.each do |memory| %>
	<tr id='mem_<%= memory.id %>'> 
		<td><%= memory.id %></td>
		<td><%= memory.title %></td>
		<td><%= memory.story %></td>
		<td><%= memory.ranking %></td>
		<td><%= link_to("Remove", remove_item_memories_path(memory: memory.id, person: @person.id), remote: true, class: "btn btn-danger", :confirm => "Are you sure?") %></td>
	</tr>
	<% end %>
</table>

Edit Images

<%= link_to 'Show', @person %> |
<%= link_to 'Back', people_path %>
