<p id="notice"><%= notice %></p>

<h1>Listing People</h1>

<table class="table">
  <thead>
    <tr>
      <th><%= sortable "lastname", "Last Name" %></th>
      <th class='onlyscreen'><%= sortable "firstname", "First Name" %></th>
      <th class='onlymob'>Full Name</th>
      <th class='onlyscreen'><%= sortable "dob", "Born" %></th>
      <th class='onlyscreen'><%= sortable "died", "Died" %></th>
      <th class='onlyscreen'><%= sortable "charity_id", "Charity" %></th>
      <th colspan="3"><%= link_to('New', new_person_path, class: "btn btn-info") %></th>
    </tr>
  </thead>

  <tbody>
    <% @people.each_with_index do |person, i| %>
      <tr class="<%#= "even" if i%2==0 %>">
        <td><%= person.lastname %></td>
        <td class='onlyscreen'><%= person.firstname %></td>
        <td class='onlymob'><%= person.fullname %></td>
        <td class='onlyscreen'><%= person.dob %></td>
        <td class='onlyscreen'><%= person.died %></td>
        <td class='onlyscreen'><%= person.charity.name unless !person.charity %></td>
        <td><%= link_to('Show', person, class: "btn btn-info") %></td>
        <td><%= link_to('Edit', edit_person_path(person), class: 'btn btn-warning') if current_user && current_user.role == "owner" %></td>
        <td><%= link_to('Destroy', person, method: :delete, class: "btn btn-danger",data: { confirm: 'Are you sure?' }) if current_user && current_user.role == "owner" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @people %>
<br>

<%= link_to 'New Person', new_person_path %>
