<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @person.firstname %>
</p>

<p>
  <strong>Middlenames:</strong>
  <%= @person.middlenames %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @person.lastname %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @person.dob %>
</p>

<p>
  <strong>Died:</strong>
  <%= @person.died %>
</p>

<p>
  <strong>Age:</strong>
  <%= @person.age %>
</p>

<p>
  <strong>Charity:</strong>
  <%= @person.charity.name unless !@person.charity %>
</p>

<% if @person.memories.count > 0 %>
  <h2>Memories of <%= @person.fullname %>  </h2>
  <table>
  <tr>
    <th>Rank</th>
    <th>Story</th>
  </tr>
  <% @person.memories.each do |memory| %>
  <tr>
    <td><%=link_to("&#x25B2;", rank_up_memories_path(memory.id), remote: true)%><br>
    <%= memory.ranking %>
    <br>&#x25BC;</td>
    <td><%= memory.story %></td>
  </tr>
  <% end %>
  </table>
<% end %>
<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>

<script type="text/javascript">


    $(document).on('ajax:success', 'a[data-remote].watching', function(e, data, status, xhr){

      console.log(data);
    });

</script>