<p id="notice"><%= notice %></p>

<div class="row">
<div class="col-md-8"><p>
<h1><%= @person.fullname %></h1>
  <strong>Firstname:</strong>
  <%= @person.firstname %>
</p>
<% if @person.middlenames != nil %>
<p>
  <strong>Middlenames:</strong>
  <%= @person.middlenames %>
</p>
<% end %>
<p>
  <strong>Lastname:</strong>
  <%= @person.lastname %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @person.dob %>
</p>
<% if @person.died %>
<p>
  <strong>Died:</strong>
  <%= @person.died %>
</p>

<p>
  <strong>Age:</strong>
  <%= @person.age %>
</p>

<% end %>
<% if @person.charity %>
<p>
  <strong>Charity:</strong>
  <%= @person.charity.name unless !@person.charity %>
</p>
<% end %>
</div>
<div class="col-md-4"><%= image_tag(@person.get_top_image.preview.url) if @person.images.count > 0 %></div>
</div>



<!-- Start Memory Post -->
<h2>Memories of <%= @person.fullname %>  </h2>
<div class="postmemory">
<h3>Share your memories of <%= @person.fullname %></h3>
<% if current_user %>
<!-- Edit -->
<% if @person.can_admin(current_user) %>
You are an admistrator. <%= link_to("Edit", edit_person_path(@person)) %>
<% end %>
<!-- Story -->
<% @memory = Memory.new %>
<%= render partial: 'memories/form' %>

<!--   Title: <input id="mem_title"></input>
  Story: <textarea id="mem_story"></textarea>

  <button id="mem_submit">Go</button> -->

  <script>
  //  $('#mem_submit').click(function() {
  // var title = $('#mem_title').val();
  // var story = $('#mem_story').val();
  // var userid = <%= current_user.id %>;
  // var reciever_type = "Person";
  // var reciever_id = <%= @person.id %>;

  // postMemory(title, story, userid, reciever_type, reciever_id);
 // })
</script>
  <%= render partial: 'images/form' %>
  <div id="linkform"><%= render partial: 'links/form' %></div>  
<% else %>
  You must be logged in to post
<% end %>
</div>
<!-- Start Memory Feed -->
<h3>Other users' memories</h3>
<div id='other_peoples_memories'>    
  <% if @person.memories.count > 0 %>
    <%= render partial: 'layouts/memory', collection: @person.memories.order(ranking: :desc), locals: {frompage: "personpage"} %>
  <% end %>
</div>

<% if @person.images.count > 0 %>
<div class="images">
  <h2>Images of <%= @person.fullname %></h2>
  <%= render partial: 'layouts/thumbnails'%>
</div>
<% end %>


<% if @person.links.count > 0 %>
  <h2>Links about <%= @person.fullname %></h2>
  <ul id='linkslist'>
  <% @person.links.order(:linktype_id).each do |link| %>
  <%= render partial: 'layouts/link', object: link %>
  <% end %>
  </ul>
<% end %>
<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>