<p id="notice"><%= notice %></p>

<div class="row">
<div class="col-md-8"><p>
<%= render 'headerdetails' %>
<strong>Administrators</strong>
<% @person.adminstrators.each do |username| %>
  <%= link_to username.username, user_path(username) %>
<% end %>
</div>
<div class="col-md-4"><%= image_tag(@person.get_top_image.preview.url) if @person.images.count > 0 %></div>
</div>

<%= render_shareable %>


<!-- Start Memory Post -->
<h2>Memories of <%= @person.fullname %>  </h2>
<% if current_user %>
<div id='myTabs'>
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#post1">Memory</a></li>
    <li><a data-toggle="tab" href="#post2">Image</a></li>
    <li><a data-toggle="tab" href="#post3">Link</a></li>
  </ul>
</div>
<div class="tab-content">
    <div id="post1" class="tab-pane fade in active">
<% @memory = Memory.new %>
<%= render partial: 'memories/form' %>
    </div>
    <div id="post2" class="tab-pane fade">
  <%= render partial: 'images/form' %>
    </div>
    <div id="post3" class="tab-pane fade">
  <%= render partial: 'links/form' %>
    </div>
  </div>
<% end %>
<div class="postmemory">
<% if current_user %>
<!-- Edit -->
<% if @person.can_admin(current_user) %>
You are an admistrator. <%= link_to("Edit", edit_person_path(@person)) %>
<% end %>
<!-- Story -->

  <div id="linkform"></div>  
<% else %>
  You must be logged in to post
<% end %>
</div>
<!-- Start Memory Feed -->
<h3>Other users' memories</h3>
<div id='other_peoples_memories'>    
  <% if @person.memories.count > 0 %>
    <%= render partial: 'layouts/memory', collection: @memories.order(ranking: :desc), locals: {frompage: "personpage"} %>
  <% end %>
  <%= will_paginate @memories %>
</div>

<% if @person.images.count > 0 %>
<div class="images">
  <h2>Images of <%= @person.fullname %></h2>
  <%= render partial: 'layouts/thumbnails'%>
</div>
<%= link_to("Slide Show", slideshow_person_path(@person), class: "btn btn-primary") %>
<% end %>


<% if @person.links.count > 0 %>
  <h2>Links about <%= @person.fullname %></h2>
  <ul id='linkslist'>
  <% @person.links.order(:linktype_id).each do |link| %>
  <%= render partial: 'layouts/link', object: link %>
  <% end %>
  </ul>
<% end %>
<%= link_to('Edit', edit_person_path(@person), class: "btn btn-primary") if @person.can_admin(current_user) %>
<%= link_to 'Back', people_path, class: "btn btn-primary" %>