<h1>Editing <%= @group.name %></h1>
<div class="row">
	<div class="col-md-6">
		<p>
			<%= render 'form' %>
			<p>
				<strong>Associations:</strong>
			</p>

			<table class="table" id='grouplist'>
				<tr>
					<th>Name</th>
					<th>Type</th>
					<th>Options</th>
				</tr>
				<% @group.group_items.each do |item| %>
				<tr id='itm<%=item.id%>'>
					<td><%= item.item_name %></td>
					<td><%= item.groupable_type %></td>
					<td><%= link_to 'Show', item.groupable, class: 'btn btn-primary'%> <%= link_to('Delete', remove_item_group_path(:item => item.id), method: :put, class: 'btn btn-danger', remote: true)%></td>
				</tr>
				<% end %>
			</table>
			<%= link_to 'Edit', edit_group_path(@group) %> |
			<%= link_to 'Back', groups_path %>
		</div>
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Add Members</h3>
				</div>
				<div class="panel-body">

	<%= form_tag "/search/all", :method => :get, :id => 'groupaddsearchform', :format => :json, :remote => true do %>
    <%= text_field_tag :q, params[:q], :id => 'groupaddinput', :placeholder => "Search wikiMemories", :autocomplete => "off" %>
    <%= hidden_field :page, :value => "group" %>
    <%= submit_tag 'Go', id: 'groupaddgo' %>
    <% end %>
    <div id='groupaddresultsdiv'></div>
  </div> 
  	<table class="table table-hover">
  	<tr>
  		<th>Name</th>
  		<th>Info</th>
  		<th>Add</th>
  	</tr>
  	<tbody id='tablelist'>

  	</tbody>
  	</table>
  	</div>
	</div>
	</div>
	</div>

<script>
  $('#groupaddinput').keyup(function() {
    value = $('#groupaddinput').val();
    // if (value.length >= 2) {
      // $('#groupaddsearchform').submit();
      getSearched(value);
    // } else {
      $('#groupaddresultsdiv').html(' ');
    // }
  });
  $('#groupaddsearchform').on('ajax:success', function(evt, data, status, xhr) {
    console.log(data); });


  getSearched = function(query) {
  $.ajax({
      type: "GET",
      url: '/search/all.json',
      cache: false,
      data: { 
        q: query,
        group: <%= @group.id %>,
        page: 'group'
      },
      dataType: 'json',
      success: function(msg) {
      	console.log(msg['div']);
      	$('#tablelist').html(msg['div']);
      },
      error: function(msg) {
      	// console.log(msg);
      	// this is terrible code and a very bad workaround but don't knwo why 200 code isn't triggering success
      	$('#tablelist').html(msg.responseText);
      	$('#tablelist').html(msg['div']);
      }
    });
}


</script>

