<h1><%= @user.username %>'s page</h1>

<div class="row">
  <div class="col-xs-12 col-md-8">
  <ul>
<li><strong>Username:</strong> <%= @user.username %></li>
<li><strong>Site Role: </strong> <%= @user.role %></li>
<li><strong>Email:</strong> <%= @user.email %></li>
<li><strong>Member since: </strong> <%= @user.created_at %></li>
<li><strong>Memories Posted: </strong> <%= @user.memories.count %></li>
<li><strong>Average Ranking: </strong> <%= @user.average_ranking %></li>
</ul>

Click to expand -
<% if @user.memories.count > 0 %>
  <h2 id='memlink'>Memories - <%= @user.memories.count %></h2>
  <%= render partial: 'layouts/showhide', locals: {trig: '#memlink', tog: '#memlist'} %>
  	<div id="memlist">
   	<%= render partial: 'layouts/memory', collection: @user.memories, locals: {frompage: "userpage"} %>
   	</div>
<% end %>

<% if @user.adminstered_people.count > 0 %>
	<h2 id="peoplink">People Adminstered - <%= @user.adminstered_people.count %></h2>
	<%= render partial: 'layouts/showhide', locals: {trig: '#peoplink', tog: '#peoplist'} %>
	<div id="peoplist">
	<%= render partial: 'people/peoplelist', locals: {people: @user.adminstered_people} %>
	</div>
<% end %>

</div>
  <div class="col-xs-6 col-md-4">  <div class="panel panel-info">
  	  <div class="panel-heading">
    <h3 class="panel-title">Message <%= @user.username %></h3>
  </div>
  <div class="panel-body">
<%= render partial: 'messages/form', object: @message, :locals => {:to => @user.id} %>
  </div>
  </div>
</div>
</div>

