<h1><%= @user.username %>'s page</h1>

<div class="row">
  <div class="col-xs-12 col-md-8">
  <ul>
<li><strong>Username:</strong> <%= @user.username %></li>
<li><strong>Site Role: </strong> <%= @user.role %></li>
<li><strong>Email:</strong> <%= @user.email %></li>
<li><strong>Member since: </strong> <%= @user.created_at %></li>
<li><strong>Memories Posted: </strong> <%= @user.memories.count %></li>
<li><strong>Average Ranking: </strong> <%= @user.average_ranking %></li>
</ul>



<!-- accordian -->



 


<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <% if @user.adminstered_people.count > 0 %>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          People Adminstered - <%= @user.adminstered_people.count %>
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <%= render partial: 'people/peoplelist', locals: {people: @user.adminstered_people} %>
      </div>
    </div>
  </div>
  <% end %>


  <% if @user.administered_places.count > 0 %>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Places Adminstered - <%= @user.administered_places.count %>
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        <%= render partial: 'places/placelist' %>
      </div>
    </div>
  </div>
  <% end %>

  <% if @user.administered_pets.count > 0 %>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Pets Adminstered - <%= @user.administered_pets.count %>
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
        <%= render partial: 'pets/petlist' %>
      </div>
    </div>
  </div>
<% end %>


<% if @user.administered_occasions.count > 0 %>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFour">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          Occasions Adminstered - <%= @user.administered_occasions.count %>
        </a>
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
      <div class="panel-body">
        <%= render partial: 'occasions/occasionlist' %>
      </div>
    </div>
  </div>
  <% end %>
</div>


<% if @user.memories.count > 0 %>
  <h2 id='memlink'>Memories - <%= @user.memories.count %></h2>
  <%#= render partial: 'layouts/showhide', locals: {trig: '#memlink', tog: '#memlist'} %>
  	<div id="memlist">
   	<%= render partial: 'layouts/memory', collection: @memories, locals: {frompage: "userpage"} %>
   	</div>
    <%= will_paginate @memories %>
<% end %>

<% if @user.images.count > 0 %>
<div class="images">
  <% @user.images.each do |image| %>
<div class="thumbnailview">
  <%= link_to(image_tag(image.image.thumb.url, :class => "thumbnail", :id => "image_#{image.id}"), image.image.large.url) %>
<div id="imgranking">          
    <div class="rankdiv">
    <% if can? :update, image  %>
      <%= link_to rank_up_image_path(image),  class: 'btn btn-success', remote: true, method: :post do %>
      <i class="glyphicon glyphicon-plus"></i>
      <% end %>
    <% end %>
</div>
<div class="rankdiv">Raking: <span id="rank_<%= image.id %>"><%= image.ranking %></span></div>

<div class="rankdiv">
  <% if can? :update, image  %>
  <%= link_to rank_down_image_path(image), class: 'btn btn-warning', remote: true, method: :post do %>
  <i class="glyphicon glyphicon-minus"></i>
  <% end %>
  <% end %>
</div>
</div>
</div>
<% end %>









</div>
<%#= link_to("Slide Show", slideshow_person_path(@person), class: "btn btn-primary") %>
<% end %>


</div>
  <div class="col-xs-6 col-md-4">  <div class="panel panel-info">
  	  <div class="panel-heading">
    <h3 class="panel-title">Message <%= @user.username %></h3>
  </div>
  <div class="panel-body">
<%= render partial: 'messages/form', object: @message, :locals => {:to => @user.id} %>
  </div>
  </div>
</div>
</div>

