<div class="frontpagesearch">
<!-- people -->
  <h2>Search...</h2>
  <div id='peoplesearchdiv'>
  <%= form_tag "/search/person", :method => :get, :id => 'peoplesearchform', :format => :json, :remote => true do %>
    <%= text_field_tag :q, params[:q], :id => 'peopleinput', :placeholder => "Search People" %>
    <%= submit_tag 'Go', id: 'pplgo' %>
    <% end %>
    <!-- <button id='pplgo'>Go</button> -->
    <div id='peopleresultsdiv'></div>
  </div> 

  <div id='placessearchdiv'>
  <%= form_tag places_path, :method => :get, :id => 'placessearchform', :remote => true do %>
    <%= text_field_tag :search, params[:search], :id => 'placesinput', :placeholder => "Search Places" %>
    <%= submit_tag 'Go' %>
    <% end %>

    <div id='placesresultsdiv'></div>
  </div> 

  <div id='petssearchdiv'>
  <%= form_tag pets_path, :method => :get, :id => 'petssearchform', :remote => true do %>
    <%= text_field_tag :search, params[:search], :id => 'petsinput', :placeholder => "Search Pets" %>
    <%= submit_tag 'Go' %>
    <% end %>
    <div id='petsresultsdiv'></div>
  </div> 

  <div id='occasionssearchdiv'>
  <%= form_tag occasions_path, :method => :get, :id => 'occasionssearchform', :remote => true do %>
    <%= text_field_tag :search, params[:search], :id => 'occasionsinput', :placeholder => "Search Occasions" %>
    <%= submit_tag 'Go' %>
    <% end %>
    <div id='occasionsresultsdiv'></div>
  </div> 

</div>