<h3>Share a link</h3>
<%#= form_for(Link.new, remote: true) do |f| %>
<%= form_tag "/#{model}/#{id}/add_link", :method => :post, :format => :json, :remote => true do  %>
<%=  %>
  <div class="field">
    <%= label :title, "title" %><br>
    <%= text_field_tag :title %>
  </div>
  <div class="field">
    <%= label :address, "URL:" %><br />
    <%= text_field_tag :address %>
  </div>
  <div class="field">
    <%#= label :linktype_id, "linktype" %><br>
    <%#= collection_select :linktype_id, Linktype.all.order(:linktype),:id,:linktype, :selected => params['linktype_id'] %>
  </div>
  <%= hidden_field :user_id, :value => current_user.id %>
  <%#= hidden_field :person_id, :value => @person.id %>

  <%= submit_tag %>
<% end %>

