<%#= form_for((@memory), remote: true) do |f| %>
<%= form_tag "/#{model}/#{id}/add_memory", :method => :post, :format => :json, id: "new_memory", :remote => true do%>
  <h3>Share a memory</h3>
  <div class="field">
    <%= label :title, "Title" %><br>
    <%= text_field_tag :title %>
  </div>
  <div class="field">
    <%= label :story, "Your Memory" %><br>
    <%= text_area_tag :story %>
  </div>
  <%#= hidden_field_tag :user_id, value: current_user.id %>
  <%#= hidden_field_tag :person_id, value: @person.id if @person%>
  <%#= hidden_field_tag :place_id, value: @place.id if @place%>
  <div class="actions">
    <%= submit_tag 'Add Memory', class: 'btn btn-primary' %>
  </div>
<% end %>
