<h1>Editing Occasion</h1>

<%= render 'form' %>

Administrators:
	<table class="table" id='adminlist'>
		<tr>
			<th>Username</th>
			<th>Options</th>
		</tr> 
		<tbody id='adminlistoptions'>
		<% @occasion.administrators.each do |admin| %>
			<tr id='adminrow_<%= admin.id %>'>
				<td><%= admin.username %></td>
				<td><%= link_to("Remove", remove_administrator_occasion_path(admin: admin.id), class: "btn btn-danger", method: :delete, remote: true) %></td>
			</tr>
		<% end %>
		
			<tr id='adminrow_last'>
				<td>Select a new administrator
 				<%= form_tag("/search/user.json", method: "get", :id => 'usersearchform', :remote => true) do %>
				<%= text_field_tag :q, params[:search], :id => 'adminusername', :placeholder => "Enter Username" %>
				<% end %>
        <script>var itemid = <%= @occasion.id %>;
        		var controllername = "occasions";
        		var itemtype = "occasion"</script>
				</td>
				<td></td>
			</tr></tbody><tbody id="adminsuggestions">
</tbody>
	</table>



	<table id='editmemstable' class="table table-striped">
		<tr>
			<th>Memory Id</th>
			<th>Title</th>
			<th>Story</th>
			<th>Ranking</th>
			<th>Remove</th>
		</tr>
	<% @occasion.memories.each do |memory| %>
	<tr id='mem_<%= memory.id %>'> 
		<td><%= memory.id %></td>
		<td><%= memory.title %></td>
		<td><%= memory.story %></td>
		<td><%= memory.ranking %></td>
		<td><%= link_to("Remove", remove_item_memory_path(memory, item: @occasion, type: 'occasions'), method: :post, remote: true, class: "btn btn-danger", :confirm => "Are you sure?") %></td>
	</tr>
	<% end %>
</table>

<table class="table table-collapsed" id='imgtable'>
<tr>
	<th>image</th>
	<th>delete</th>
</tr>
<% @occasion.images.each do |image| %>
<tr id='img<%= image.id %>'>
	<td><%= image_tag(image.image.thumb.url) %></td>
	<td><%= link_to("Remove", remove_item_occasion_path(image_id: image.id), method: :post, remote: true, class: "btn btn-danger", :confirm => "Are you sure?") %></td>
</tr>
<% end %>

<table class='table table-collapsed' id='linktable'>
	<tr>
		<th>Link Title</th>
		<th>Link URL</th>
		<th>Delete</th>
	</tr>
	<% @occasion.links.each do |link| %>
	<tr id='lnk<%=link.id%>'>
	<td><%= link.title %></td>
	<td><%= link_to(link.address, link.address) %></td>
	<td><%= link_to("Remove", remove_item_occasion_path(link_id: link.id), method: :post, remote: true, class: "btn btn-danger", :confirm => "Are you sure?") %></td>
	</tr>
	<% end %>
</table>


<%= link_to 'Show', @occasion %> |
<%= link_to 'Back', occasions_path %>
