<p id="notice"><%= notice %></p>

<h1>Listing Occasions</h1>

<table class="table">
  <thead>
    <tr>
      <th><%= sortable "name" %></th>
      <th><%= sortable "date" %></th>
      <th><%= sortable "time" %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @occasions.each do |occasion| %>
      <tr>
        <td><%= occasion.name %></td>
        <td><%= occasion.date %></td>
        <td><%= occasion.time.strftime("%I:%M%p") if occasion.time%></td>
        <td><%= link_to 'Show', occasion, class: "btn btn-info" %></td>
        <td><%#= link_to 'Edit', edit_occasion_path(occasion), class: "btn btn-info" %></td>
        <td><%= link_to 'Destroy', occasion, method: :delete, data: { confirm: 'Are you sure?' } if current_user && current_user.role == "owner"  %></td>
      </tr>
    <% end %>
  </tbody>
</table>
  <%= will_paginate @occasions %>
<br>

<%= link_to 'New Occasion', new_occasion_path %>
