<h3>Share an image</h3>
<%= form_for(Image.new) do |f| %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :image, "Upload Image" %><br />
    <%= f.file_field :image, :class => 'btn' %>
  </div>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <%= f.hidden_field :person_id, :value => @person.id if @person %>
  <%= f.hidden_field :place_id, :value => @place.id if @place %>
  <%= f.hidden_field :pet_id, :value => @pet.id if @pet %>
  <%= f.hidden_field :occasion_id, :value => @occasion.id if @occasion %>
  <%= f.submit 'Upload Image', :class => 'btn btn-primary' %>
<% end %>
