<h3>Share an image</h3>
<%= form_for(Image.new) do |f| %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :image, "Upload Image" %><br />
    <%= f.file_field :image %>
  </div>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <%= f.hidden_field :person_id, :value => @person.id %>

  <%= f.submit %>
<% end %>
<%= link_to 'Back', images_path %>
