<h1><%= @image.title %></h1>
<%= image_tag(@image.image.url) %>


<div id="imgranking">          
    <div class="rankdiv">
    <% if can? :update, @image  %>
      <%= link_to rank_up_image_path(@image),  class: 'btn btn-success', remote: true, method: :post do %>
      <i class="glyphicon glyphicon-plus">Up</i>
      <% end %>
    <% end %>
</div>
<div class="rankdiv">Raking: <span id="rank_<%= @image.id %>"><%= @image.ranking %></span></div>

<div class="rankdiv">
  <% if can? :update, @image  %>
  <%= link_to rank_down_image_path(@image), class: 'btn btn-warning', remote: true, method: :post do %>
  <i class="glyphicon glyphicon-minus">Down</i>
  <% end %>
  <% end %>
</div>
</div>