<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @place.name %>
</p>

<p>
  <strong>Placetype:</strong>
  <%= @place.placetype.placetype %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @place.lat %>
</p>

<p>
  <strong>Lng:</strong>
  <%= @place.lng %>
</p>
<%= javascript_include_tag "https://maps.googleapis.com/maps/api/js" %>
<div id="map"><script>
<%= "initMap(#{@place.lat}, #{@place.lng})" if @place.lat != nil %></script>
</div>


<script>
  // initMap();
</script>
<%= link_to 'Edit', edit_place_path(@place) %> |
<%= link_to 'Back', places_path %>
