            <strong><%= memory.title %></strong><br>
            <p><%= memory.story %></p>
            <span id='flink_<%= memory.id %>'>flag</span>

            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseMem<%= memory.id %>" aria-expanded="false" aria-controls="collapseMem<%= memory.id %>">
              Flag
            </button>