
 <div class="memorydiv">
 <div class="row">
 	<div class="memoryleftpanel">
 		<div class="rankdiv"><%= link_to("up", rank_up_memories_path(memory.id), remote: true) %></div>
 		<div class="rankdiv"><span id="rank_<%= memory.id %>"><%= memory.ranking %></span></div>
 		<div class="rankdiv"><%= link_to("down", rank_down_memories_path(memory.id), remote: true) %></div>
 	</div>

 	<div class="memoryrightpanel">
 		<strong><%= memory.title %></strong><br>
    	<p><%= memory.story %></p>
    	<% if memory.user == current_user %>
    	  <%= link_to 'Edit', edit_memory_path(memory) %>
    	  <%= link_to 'Destroy', memory, method: :delete, data: { confirm: 'Are you sure?' } %><br>
    	   <%# binding.pry;''%>
     	<% end %>

     	<% if frompage == "flagpage" %>
     	<% if memory.flagcount > 0 %>
     		<div class="flaglist">
     		<strong>Current Flag Count</strong> - <span id="fc_<%=memory.id%>"><%= memory.flagcount %></span> <%= link_to("Reset", reset_flag_count_memories_path(memory), remote: true)  %><br>
     		<strong>Total Flag Count</strong> - <%= memory.flags.count %><br>
     			<% memory.flags.each do |flag| %>
     			<div class="flaginfo">
					<strong>Flagged by </strong> <%= flag.user.username %> <strong>on</strong>	<%= flag.created_at %>
					<strong>Message</strong>  - <%= flag.message %>
				</div>
				<% end %>
				</div>
     	<% end %>
     	<% end %>
 	</div>
 </div>
 </div>
