
<div class="memorydiv">
    <div class="row">
        <div class="memoryleftpanel">
            <%= render partial: 'layouts/memory_rank.html.erb', locals: {memory: memory} %>
        </div>

        <div class="memoryrightpanel">
            <%= render partial: 'layouts/memory_details.html.erb', locals: {memory: memory} %>
            <%= render partial: 'layouts/memory_options.html.erb', locals: {memory: memory} %>
            <%= (render partial: 'layouts/memory_flag.html.erb', locals: {memory: memory}) unless (frompage == "flagpage") %>
            <% if frompage == "flagpage" %>
                <%= render partial: 'layouts/memory_flag_details.html.erb', locals: {memory: memory, frompage: frompage} %>
            <% end %>
        </div>
    </div>
</div>
