<div class="topmenu">

  <div id='allsearchdiv'>
  <%= form_tag "/search/all", :method => :get, :id => 'allsearchform', :format => :json, :remote => true do %>
    <%= text_field_tag :q, params[:q], :id => 'allinput', :placeholder => "Search wikiMemories", :autocomplete => "off" %>
    <%= submit_tag 'Go', id: 'allgo' %>
    <% end %>
    <div id='allresultsdiv'></div>
  </div> 

	<ul class="sidemenu">
	<div id="side_memories">
	<%= render @people_search_result if @people_search_result %>
	</div>
	<li><%= link_to("Welcome", welcome_path) %></li>
		<% if !current_user %>
		<li><%= link_to("Log In", new_user_session_path) %></li>
		<% end %>
		<% if current_user %>
			<li><%= link_to("Administrate", admin_tools_path) %></li>
			<li><%= link_to("Log Out", destroy_user_session_path, method: :delete) %></li>
			<li><%= link_to("User Page", user_path(current_user.id)) %></li>
			<li><%= link_to("Messages", messages_path) %> <% if current_user.unread_message_count > 0 %><span class="badge"> <%= current_user.unread_message_count %> </span><% end %></li>
		<% end %>
		
		
		<li><%= link_to("Groups", groups_path) %></li>
		<li><%= link_to("People", people_path) %></li>
		<li><%= link_to("Pets", pets_path) %></li>
		<li><%= link_to("Places", places_path) %></li>
		<li><%= link_to("Occasions", occasions_path) %></li>
		<li><%= link_to("FAQ's", faq_path) %></li>
		<li><%= link_to("Contact", contact_path) %></li>
		
	</ul>
</div>