<div class="topmenu">
	<ul class="sidemenu">
		<% if !current_user %>
		<li><%= link_to("Log In", new_user_session_path) %></li>
		<% end %>
		<% if current_user %>
			<li>Administrate</li>
			<li><%= link_to("Log Out", destroy_user_session_path, method: :delete) %></li>
		<% end %>
		<li>User Page</li>
		<li>Recent</li>
		<li><%= link_to("Groups", groups_path) %></li>
		<li><%= link_to("People", people_path) %></li>
		<li><%= link_to("Pets", pets_path) %></li>
		<li><%= link_to("Places", places_path) %></li>
		<li><%= link_to("Occasions", occasions_path) %></li>
		
	</ul>
</div>