<% @person.images.each do |image| %>
<div class="thumbnailview">
	<%= link_to(image_tag(image.image.thumb.url, :class => "thumbnail", :id => "image_#{image.id}"), image.image.large.url) %>
<div id="imgranking">
                <div class="rankdiv"><%= link_to("up", rank_up_images_path(image.id), remote: true) unless image.user_id == current_user.id %></div>
<div class="rankdiv">Raking: <span id="rank_<%= image.id %>"><%= image.ranking %></span></div>
<div class="rankdiv"><%= link_to("down", rank_down_images_path(image.id), remote: true) unless image.user_id == current_user.id %></div>
</div>
</div>
<% end %>