<% @person.images.each do |image| %>
<div class="thumbnailview">
	<%= link_to(image_tag(image.image.thumb.url, :class => "thumbnail", :id => "image_#{image.id}"), image.image.large.url) %>
<div id="imgranking">          
    <div class="rankdiv">
    <% if image.user_id != current_user.id  %>
    	<%= link_to rank_up_images_path(image.id),  class: 'btn btn-success', remote: true do %>
  		<i class="glyphicon glyphicon-plus"></i>
  		<% end %>
  	<% end %>
</div>
<div class="rankdiv">Raking: <span id="rank_<%= image.id %>"><%= image.ranking %></span></div>

<div class="rankdiv">
	<% if image.user_id != current_user.id  %>
	<%= link_to rank_down_images_path(image.id), class: 'btn btn-warning', remote: true do %>
	<i class="glyphicon glyphicon-minus"></i>
	<% end %>
	<% end %>
</div>
</div>
</div>
<% end %>