<div class="thumbnailview">
  <%= link_to(image_tag(image.image.thumb.url, :class => "thumbnail", :id => "image_#{image.id}"), image_path(image), target: '_blank') %>
<div id="imgranking">          
    <div class="rankdiv">
    <% if can? :update, image  %>
    	<%= link_to rank_up_image_path(image),  class: 'btn btn-success', remote: true, method: :post do %>
  		<i class="glyphicon glyphicon-plus"></i>
  		<% end %>
  	<% end %>
</div>
<div class="rankdiv">Ranking: <span id="rank_<%= image.id %>"><%= image.ranking %></span></div>

<div class="rankdiv">
	<% if can? :update, image  %>
	<%= link_to rank_down_image_path(image), class: 'btn btn-warning', remote: true, method: :post do %>
	<i class="glyphicon glyphicon-minus"></i>
	<% end %>
	<% end %>
</div>
</div>
</div>
